# to exclude workspace cache
.obsidian/workspace/*
.obsidian/workspace

.obsidian/graph.json
.obsidian/hotkeys.json
.obsidian/themes
.obsidian/appearance.json

# Exclude specific files - we may use this at some point

# 05*-*Personal/

# Exclude Day Planner directory placed in vault root
# Day*Planners/*

# This file is used to keep track of last auto backup/pull
.obsidian-git-data

# Exclude Untitled Notes
# Untitled*
# Exclude "bad" names
null*

# Add below lines to exclude OS settings and caches
.trash/
.DS_Store
